## Creating a list of dictionaries for SWATH proteomics data

In [1]:
import pandas as pd

In [2]:
SWATH_df=pd.read_excel('SWATH_rawdata.xlsx',sheet_name = 'Calculations', header = None)
SWATH_matrix = SWATH_df.values

In [3]:
SWATH_matrix[0,9:15]

array(['SH 27', 'SH 30', 'SH 33', 'SH 37', 'SH 44', 'SH 59'], dtype=object)

In [4]:

Master_list = []

for j in range(1,len(SWATH_df)):  #1379
    
    
    curr_dict = {}
    
    RYGB = SWATH_matrix[j][3:9]
    SHAM = SWATH_matrix[j][9:15]
    
    protein = SWATH_matrix[j][2]

    curr_dict = {'protein':protein,
        'RYGB':RYGB,
                'SHAM':SHAM
                }
    
    Master_list.append(curr_dict)

In [5]:
df =pd.DataFrame(Master_list)
df.to_csv("SWATH_df.csv")
df.head()

,protein,RYGB,SHAM
0,Tfrc,"[58995.58730944913, 56665.446395003084, 38887....","[6654.748723909054, 5197.19164247816, 205.36, ..."
1,Fam65b,"[213025.22174361974, 116886.96385008053, 49842...","[2512408.873939551, 2233334.311090519, 3016884..."
2,Scpep1,"[163047.1737902113, 181772.88603035995, 82439....","[11230.657106128787, 41789.31413616105, 76793...."
3,Fth1,"[65452.31480097804, 59589.69217762027, 63468.4...","[754469.8055327837, 842997.3218800279, 705377...."
4,Ociad2,"[100710.38357873414, 96309.03308649099, 77965....","[54435.16205797873, 55557.06173366898, 88408.7..."

In [6]:
pd.DataFrame(Master_list).to_pickle('swath_lod.p')